<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.1.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd">

  <!-- Server credentials for deploying and accessing Nexus repos -->
  <servers>
    <server>
      <id>vprofile-snapshot</id>
      <username>admin</username>
      <password>admin123</password>
    </server>
    <server>
      <id>vprofile-release</id>
      <username>admin</username>
      <password>admin123</password>
    </server>
    <server>
      <id>vpro-maven-central</id>
      <username>admin</username>
      <password>admin123</password>
    </server>
    <server>
      <id>vpro-maven-group</id>
      <username>admin</username>
      <password>admin123</password>
    </server>
  </servers>

  <!-- Mirror to force Maven to use Nexus instead of default central -->
  <mirrors>
    <mirror>
      <id>nexus</id>
      <name>Nexus Mirror</name>
      <url>http://172.31.20.62:8081/repository/vpro-maven-group/</url>
      <mirrorOf>*</mirrorOf>
    </mirror>
  </mirrors>

  <!-- Activate Nexus as the default profile -->
  <profiles>
    <profile>
      <id>nexus</id>
      <repositories>
        <repository>
          <id>central</id>
          <url>https://repo.maven.apache.org/maven2</url>
          <releases><enabled>true</enabled></releases>
          <snapshots><enabled>false</enabled></snapshots>
        </repository>
      </repositories>
    </profile>
  </profiles>

  <activeProfiles>
    <activeProfile>nexus</activeProfile>
  </activeProfiles>

</settings>
